.header {
	font-family: 'Gentium Book Basic', serif;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	h1{
		// font-size: 60px;
		// padding: 0;
		margin: 15px 0 0 0;
	}
}

.title{
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
	border-radius: $headBordRad;
	svg{
		height: 30px;
		width: 30px;
		color: black;
		display: inline-flex;
		flex-flow: row wrap;
	}
	background: rgba(0, 0, 0, .7);
	color: $maintext;
	text-shadow: 2px 2px #6F6F6F;
}

#searchHead{
	padding: 10px;
}