.header {
	font-family: 'Gentium Book Basic', serif;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	h1{
		// font-size: 60px;
		// padding: 0;
		margin: 15px 0 0 0;
	}

	

}
.logo {
  margin: -58px 0 0 -100px;
  @include position(absolute, 50% 0 0 50%);
  img {

  }
}
.title{
	padding: 0;
	margin: 0;
	svg{
		height: 30px;
		width: 30px;
		color: black;
		display: inline-flex;
		flex-flow: row wrap;
	}
}
