.main {
	// flex: 1;
	order: 2;
	// background-image: url('http://cdn.morguefile.com/imageData/public/files/a/5demayo/10/l/1412232147y7ajl.jpg');
	width: 90vw;
	padding: 0 10px 10px 10px;
}

.content{
	flex: 1;
}