

.main {
	flex: 1;
	flex-direction: column;
	order: 2;
	width: 100vw;
	// margin: 1px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: $blackBack;
	// box-shadow: -20px -10px rgba(10, 10, 10, .7); //#6E6E6E;
	color: $maintext;
}

.content{
	flex: 1;
	padding: 0;
	margin: 1px;
}

.new{
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.books{
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden; //*
	background: $btnhov;
	color: black;
	height: 240px;
	width: 160px;
	// align-items: flex-end;
	// margin-bottom: 20px; // space between rows of books
	// flex-basis: 23%;
	// align-items: space-around; //*
	border-radius: 10px;
	p{
		// height: 120px; // in order to put the button on the bottom - error when title is 2 lines, bumps
		flex-grow: 0;


	}
	img{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		// height: 80vh;
		// height: 70vh;
		margin: .7em;  //the margin around the photos
		// max-height: 100px;
	}
	a{
			color: white;
			align-self: flex-end;
			padding-top: 0;
			justify-content: center;
		}

}

.searchResults{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	div{ //book
		display: flex;
		// padding: 15px;
		// padding-top: 0;
		// border-radius: 5px;
		h3{ //title
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			border: 5px double white;
			color: black;
			background: $bookTitleBack;
			border-radius: 10px;
			// -webkit-margin-after: 0;
		}
	}
	// button{
	// 	bottom: 0;
	// }
}

.addToLibrary{ //button area
	// display: flex;
	// height: 20px;
	// position: fixed;
	// justify-content: space-around;**
	color: black;
	button{
		border: none;
	}
}

.bookContent{
	justify-content: space-around;
}

.area{
	flex-direction: column;

}


.title2{
	padding: 0;
	margin: 0;
	border-radius: $headBordRad;
	background: rgba(0, 0, 0, .7);
	color: $maintext;
	display: flex;
	flex-direction: row nowrap;
	justify-content: center;
	text-align: center;
}
.by{
	flex-grow: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 134px;
	align-items: flex-start;
}
.add{
	text-align: center;
	background: rgba(0, 0, 0, .7);
	color: white;
	border-radius: $headBordRad;
}
.add:hover{
	background: rgba(5, 5, 5, .9);
	color: #BFBFBF;

}
