.main {
	flex: 1;
	flex-direction: column;
	order: 2;
	width: 100vw;
	// padding: 0 10px 10px 10px;
	// padding: 15px;
	// border: 10px double orange;
	margin: 1px;
	// border-top-left-radius: 50%;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	// border-top-right-radius: 50%;
	// background: #3C3C3C;
	background: $blackBack;
	// box-shadow: -20px -10px rgba(10, 10, 10, .7); //#6E6E6E;
	color: $maintext;
}

.content{
	flex: 1;
	padding: 0;
	margin: 1px;
}

.new{
	flex-direction: column;
	// width: 100vw;
	// height: 100vh;
	// background: green;
	// border: 5px double red;
	margin: 0;
	padding: 0;
}

.books{
	// height: 100vh; 
	// width: 20vw;
	// justify-content: flex-start;
	border: 1px solid red;
	margin:after  5vw;
	flex-flow: column nowrap;
	overflow: hidden;
}

.searchResults{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	// align-items: flex-start;

	div{
		display: flex;
		padding: 15px;
		padding-top: 0;
		border: 3px double blue;
		h3{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			border: 3px double blue;
			-webkit-margin-after: 0;
		}
	}
}