.main {
	flex: 1;
	flex-direction: column;
	order: 2;
	width: 100vw;
	margin: 1px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: $blackBack;
	// box-shadow: -20px -10px rgba(10, 10, 10, .7); //#6E6E6E;
	color: $maintext;
}

.content{
	flex: 1;
	padding: 0;
	margin: 1px;
}

.new{
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.books{
	display: flex;
	flex-flow: column nowrap;
	// overflow: hidden;
	background: $btnhov;
	color: black;
	// align-items: flex-end;
	margin-bottom: 20px; // space between rows of books
	align-items: space-between;
	p{
		height: 120px; // in order to put the button on the bottom - error when title is 2 lines, bumps
		flex-grow: 0;

	}
	img{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		height: 100vh;
		margin-top: 10px;
	}
	a{
			color: white;
			align-self: flex-end;
			padding-top: 0;
			justify-content: center;
		}

}

.searchResults{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	div{ //book
		display: flex;
		padding: 15px;
		padding-top: 0;
		border-radius: 5px;

		h3{ //title
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			border: 5px double white;
			color: black;
			background: $bookTitleBack;
			border-radius: 10px;
			// -webkit-margin-after: 0;
		}
	}
	// button{
	// 	bottom: 0;
	// }
}

.addToLibrary{ //button area
	display: flex;
	// height: 20px;
	// position: fixed;
	justify-content: space-around;
	color: black;
	button{
		border: none;
	}
}

.bookContent{
	justify-content: space-around;
}
