.nav {
	padding: 0;
	margin: 0;
	padding-bottom: 20px;


  ul {
  padding-left: 0;
  list-style: none;
  display: flex;
	justify-content: space-around;
  align-items: baseline;
        
    li {
		font: 300 18px/1.6 'Goudy Bookletter 1911', serif;
		// align-self: space-around;
    // line-height: 5vh;
    // display: flex;
    justify-content: center;
      a {
      	background: $navback;
      	color: $navtext;
      	padding: 10px;
      	text-decoration: none;
      }
      a:hover{
		    background: $hovnavback;
      }
    }
  }
  svg{
    height: 12px;
    path{
      fill: $navtext;
    }
  }
}
