.sidebar {
	order: 1;
	// width: 10vw;
	margin: 0 5px 10px 15px;
	display: flex;
	flex-flow: column nowrap;
		//actions
	form{
		
	}

	ul{
		
		li{
			list-style: none;
			// line-height: 16px;
			a{
				// color: green;
				text-decoration: none;
			}
			a:hover{
				background: grey;
				color: white;
			}
		}
	}
	.readingList{

	}
}
