.sidebar {
	order: 1;
	// width: 10vw;
	margin: 0 5px 10px 15px;
	display: flex;
	flex-flow: column nowrap;
		//actions
	form{
		
	}

	ul{
		display: flex;
		li{
			list-style: none;

			// line-height: 16px;
			a{
				// color: green;
				text-decoration: none;
			}
			a:hover{
				// background: grey;
				color: orange;
				cursor: pointer;
			}
		}
	}
	.readingList{
		// background: hotpink;
		ul{
			display: flex;
			flex-flow: column nowrap;
			text-align: center;
			padding-left: 0;

			li:nth-child(even) {
				background: #444444;
			}
			li:nth-child(odd){
				background: #333333;
			}
		}
	}
	svg{
    height: 12px;
    path{
      fill: $navtext;
    }
  }
}
