@media only screen and (min-width:10px) {
	.nav{
		width: 100vw;
		ul{
			li{
				font-size: 13px;
			}
		}
	}
	.header{
			h1{
				font-size: 30px;
			}
		}
	.main{
		overflow: hidden;
		width: 100vw;
		margin-left: 2vw;
		
	}
	body{
		font-size: 12px;
	}
	.sidebar{
		width: 100vw;
		flex-direction: row;
		justify-content: space-around; //centers if row
		// align-items: center; //centers if column
	}
	.content{
		flex-direction: column;
	}
}
@media only screen and (min-width:320px) {
	}
@media only screen and (min-width:480px) {
	.nav{
		width: 80vw;
	}
	}
@media only screen and (min-width:768px) {
	.nav{
		width: 60vw;
	}
	.main{
		margin-left: 2vw;
	}
}
@media only screen and (min-width:840px) {
	.nav{
		ul{
			li{
				font-size: 18px;
			}
		}
	}
	.header{
		h1{
			font-size: 50px;
		}
	}
	body{
		font-size: 18px;
	}
	.sidebar{
		width: 10vw;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.content{
		flex-direction: row;
	}
	.main{
		width: 80vw;
	}

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
