$base : #F0F7F7;
$darken : darken(#F0F7F7 , 30%);
$back: darken(#F0F7F7, 40%);

//nav colors
$navtext: white;
$navback: #6F6F6F;
$hovnavback: #8A8A8A;

$btnhov: #205C5A;//#2098d1;

$maintext: white;
$headBordRad: 10px;

$blackBack: rgba(0, 0, 0, .7);